@import url("https://fonts.googleapis.com/css2?family=Jost&family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Reem+Kufi:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Jost&family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Jost&family=Lora&family=Roboto&display=swap");
body {
  background-color: #063852;
}

.body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1 fr;
}

header {
  grid-column: 1/span 1;
}

nav {
  width: 200px;
}

ul {
  display: flex;
  flex-direction: column;
  align-content: baseline;
  list-style-type: none;
}
ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  height: 40px;
  width: 200px;
  border-color: #011a27;
  border-radius: 10px;
}
ul li:hover {
  transition: background-color 2s;
  background-color: #f4cc70;
}
ul li a {
  text-decoration: none;
  color: #e6df44;
  font-size: 20px;
  border-color: black;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-family: "Lora", sans-serif;
  cursor: pointer;
}
ul li a:hover {
  transition: color 2s, font-size 2s;
  color: #011a27;
  font-size: 25px;
}

main {
  grid-column: 2/span 5;
}

.hide {
  display: none;
}

.item-derecha {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pForm {
  color: #e6df44;
  font-size: 20px;
  font-family: "Reem Kufi";
}

.btnIngresar, .btnRegistrar {
  background-color: #3498db;
  color: #063852;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.btnIngresar:hover, .btnRegistrar:hover {
  background-color: #2980b9;
}

.form-ingreso {
  height: 350px;
  width: 400px;
  border: 2px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #011a27;
}
.form-ingreso label {
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #f4cc70;
}
.form-ingreso input {
  height: 40px;
  width: 120px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-registro {
  height: 500px;
  width: 400px;
  border: 2px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #011a27;
}
.form-registro label {
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #f4cc70;
}
.form-registro input {
  height: 40px;
  width: 120px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-discos {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid;
  border-radius: 10px;
  background-color: #011a27;
}
.form-discos h1 {
  height: 50px;
}
.form-discos label {
  margin: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #f4cc70;
}
.form-discos input {
  height: 20px;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}
.form-discos button {
  width: 150px;
  height: 40px;
  background-color: #1995ad;
  font-size: 15px;
  font-family: "Roboto";
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columna select {
  width: 60%;
  background-color: #e6df44;
  font-size: 20px;
  font-family: "Reem Kufi", sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-disco {
  width: 250px;
  border: 2px solid #ccc;
  background-color: #1995ad;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.card-disco h3 {
  margin: 5px 0;
  font-size: 25px;
  color: #011a27;
  font-family: "Alice", sans-serif;
}

.card-disco img {
  max-width: 100%;
  height: 200px;
  background-color: black;
  border-radius: 5px;
  object-fit: cover;
}

.card-disco p {
  font-size: 20px;
  color: #e6df44;
  font-family: "Jost", sans-serif;
  margin: 5px;
}

.detalle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle-card img {
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.detalle-card h2 {
  margin: 10px 0;
  color: #f4cc70;
  font-size: 35px;
  font-family: "Lora", sans-serif;
}

.detalle-card p {
  margin: 5px 0;
  font-size: 20px;
  color: #e6df44;
  font-family: "Jost", sans-serif;
}

.detalle-card a {
  color: #1995ad;
  font-size: 20px;
  border-color: black;
  padding: 10px;
  margin: 5px;
  font-family: "Lora", sans-serif;
}
.detalle-card a:hover {
  background-color: #f4cc70;
  transition: 2s;
}

.ver-detalles-btn {
  background-color: #063852;
  color: white;
  width: 120px;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-volver, .btn-agregar-disco {
  background-color: #f4cc70;
  color: black;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Lora", sans-serif;
}

/*# sourceMappingURL=style.css.map */
