@import url("https://fonts.googleapis.com/css2?family=Jost&family=Lora&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Reem+Kufi:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Reem+Kufi:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Jost&family=Lora&family=Roboto&display=swap");
body {
  background-color: #063852;
}

.body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1 fr;
}

header {
  grid-column: 1/span 1;
}

nav {
  width: 200px;
}

ul {
  display: flex;
  flex-direction: column;
  align-content: baseline;
  list-style-type: none;
}
ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  height: 40px;
  width: 200px;
  border-color: #011a27;
  border-radius: 10px;
}
ul li a {
  text-decoration: none;
  color: #e6df44;
  font-size: 20px;
  border-color: black;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-family: "Lora", sans-serif;
}

main {
  grid-column: 2/span 5;
}

.hide {
  display: none;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 400px;
  border: 2px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #011a27;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #f4cc70;
}

input {
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pForm {
  color: #e6df44;
  font-size: 20px;
  font-family: "Reem Kufi";
}

.btnIngresar {
  background-color: #3498db;
  color: #063852;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.btnIngresar:hover {
  background-color: #2980b9;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 400px;
  border: 2px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #011a27;
}

label {
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  color: #f4cc70;
}

input {
  height: 40px;
  width: 120px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pForm {
  color: #e6df44;
  font-size: 20px;
  font-family: "Reem Kufi";
}

.btnIngresar, .btnRegistrar {
  background-color: #3498db;
  color: #063852;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.btnIngresar:hover, .btnRegistrar:hover {
  background-color: #2980b9;
}

.form-ingreso {
  height: 350px;
}

.form-registro {
  height: 500px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-disco {
  width: 250px;
  border: 2px solid #ccc;
  background-color: #1995ad;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.card-disco h3 {
  margin: 5px 0;
  font-size: 25px;
  color: #011a27;
  font-family: "Alice", sans-serif;
}

.card-disco img {
  max-width: 100%;
  height: 200px;
  background-color: black;
  border-radius: 5px;
  object-fit: cover;
}

.card-disco p {
  font-size: 20px;
  color: #e6df44;
  font-family: "Jost", sans-serif;
  margin: 5px;
}

.detalle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle-card img {
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.detalle-card h2 {
  margin: 10px 0;
  color: #063852;
}

.detalle-card p {
  margin: 5px 0;
}

.ver-detalles-btn {
  background-color: #063852;
  color: white;
  width: 120px;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Alice", sans-serif;
}

/*# sourceMappingURL=style.css.map */
