@import url('https://fonts.googleapis.com/css2?family=Alice&family=Jost&family=Lora&family=Roboto&display=swap');

    .ver-detalles-btn {
        background-color: $color2;
        color: white;
        width: 120px;
        height: 40px;
        border: none;
        margin-bottom: 10px ;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
  
    }


    .btn-volver {
        background-color: $color3;
        color: black;
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    
