@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lora&family=Roboto&display=swap');
body {
    background-color: $color2;
}

.body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1 fr;

}
header {
    grid-column: 1/ span 1;
}

nav {
    width: 200px;
}

ul {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    list-style-type: none;

    li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid;
        height: 40px;
        width: 200px;
        border-color: $color1;
        border-radius: 10px;
        &:hover {
               
            transition: background-color 2s; 
            background-color: $color3;   
            }

        a {
            text-decoration: none;
            color: $color4;
            font-size: 20px;
            border-color: black;
            display: flex;
            align-items: center;
            padding-top: 10px;
            font-family: 'Lora', sans-serif;
            cursor: pointer;
            &:hover {
               
                transition: color 2s, font-size 2s;   
                color: $color1;
                font-size: 25px;
                
                }
            }
        }
    }


main {
    grid-column: 2 /span 5;
    
}

.hide {
    display: none;
}
.item-derecha {
    display: flex;
    flex-direction: column;
    align-items: end;
}
h2 {
    font-size: 30px;
    color: $color3;
    margin-left: 20px;
}
